
body{
    margin: 0;
    list-style: none;
}

li{
    
    display: inline;
}

a{
    text-decoration: none;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
}
/* ----------------------header부분--------------------------- */
.header a{
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
}

.header-left{
    margin-left: 15px;
    padding: 10px;
}

.header li{
    padding: 10px;
}

.header button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    font-size: 19px;
}

.fa-solid{
    color: black;
}

.bi {
  font-size: 24px; 
  color: black;   
}

.btn1{
    background-color: white;
    color: black;
}

.btn1:hover{
    background-color: rgb(240, 240, 240);
}
.btn2{
    background-color: #6168f6;
    color: white;
}

.btn2:hover{
    border: 4px solid rgb(240, 240, 240);
}
/* ----------------------main부분--------------------------- */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 590px;
}

h1{
    font-size: 100px;
    margin: 35px 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* 로고 색상 지정 */
h1 span:nth-child(1) {color:#4285f4;}
h1 span:nth-child(2) {color:#ea4335;}
h1 span:nth-child(3) {color:#fbbc05;}
h1 span:nth-child(4) {color:#4285f4;}
h1 span:nth-child(5) {color:#34a853;}
h1 span:nth-child(6) {color:#ea4335;}

/* 검색창 꾸미기 */
form{
    display: flex;
    border: 2px solid rgb(223, 225, 229);
    width: 650px;
    height: 40px;
    border-radius: 25px;
    align-items: center;
}

form .bi, .search-bar{
    margin:0 10px;
}

.bi-search{
    color: rgb(154, 160, 166);
}

.bi-keyboard-fill{
    color: rgb(123, 123, 123);
}

.search-bar{
    width: 510px;
    height: 40px;
    border: none;
}

.bi-keyboard-fill{
    font-size: 25px;
}

.mike {
  width: 24px; /* 원하는 가로 크기 */
  height: auto; /* 비율 유지 */
}



/* 버튼 꾸미기 */
.buttons{
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.google-btn{
    height: 40px;
    margin-right: 10px;
    background-color: rgb(244, 244, 245);
    border: rgb(226, 227, 228);
    border-radius: 3px;
    padding: 0 16px;
}

.buttons a{
    color: rgb(46,50 ,53);
}

/* 반응형 검색창 길이 */
@media (max-width: 768px) {
  form {
      width: 90%; /* 작은 화면에서는 화면 너비의 90% */
  }

  .search-bar {
      width: 100%; /* 검색창이 form 안에서 가득 채움 */
  }
}

@media (min-width: 769px) {
  form {
      width: 650px; /* 기본 설정 */
  }

  .search-bar {
      width: 510px; /* 기본 설정 */
  }
}